<!DOCTYPE html>
<html>
  <head>
    <title>Shopping</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <header class="flex">
        <div>
          <a href="/" class="brand">Home</a>
        </div>
        <div>
            <a href="/">
                <button class="btn-blue">Back</button>
            </a>
        </div>
      </header>
      <main>
        <form action="/products/new" method="post" class="form">
          <input type="text" name="name" placeholder="Add Product Name">
          <input type="number" name="quantity" placeholder="Number Of Items">
          <input type="number" name="price" placeholder="Product's Price">
          <div class="text-center">
            <button type="submit" class=" btn btn-blue">Add Product</button>
          </div>
        </form>
      </main>
      <footer class="nav">
        <small>&copy; AltCampus</small>
    </footer>
    </div>
  </body>
</html>