<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Event App</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <header class="container">
      <h2 class="heading">Welcome to User e-commerce App</h2>
      <div class="nav">
        <a href="/users/register">
          <button class="btn-green btn">Register</button>
        </a>
        <a href="/products">
          <button class="btn-red btn">Products</button>
        </a>
      </div>
    </header>
    <footer class="nav">
      <small>&copy; AltCampus</small>
  </footer>
</body>
</html>
