<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="container">
        <header class="flex">
            <a href="/">
                <h2 class="brand">Home</h2>
            </a>
            <nav>
                <a href="/users/login">
                    <button class="btn-blue">Login</button>
                </a>
            </nav>
        </header>
        <main>
            <h2 class="heading">List Of Books</h2>
            <div class="list">
                <% articles.forEach(article => { %>
                    <h3><%= article.title %></h3>
                    <a href="/articles/<%= article._id %>">
                        <button class="btn-green">Show</button>
                    </a>
                <% }) %>
            </div>
        </main>
    </div>
</body>
</html>