<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Event App</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <header class="container">
      <h2 class="heading">Welcome To Article App</h2>
      <div class="nav">
        <% if(!userId) { %>
          <a href="/users/login">
            <button class="btn-blue btn">Login</button>
          </a>
          <a href="/users/register">
            <button class="btn-green btn">Register</button>
          </a>
          <a href="/articles">
            <button class="btn-red btn">Articles</button>
          </a>
        <% } %>
        <% if(userId) { %>
        <a href="/articles">
          <button class="btn-red btn">Articles</button>
        </a>
        <a href="/users/logout">
          <button class="btn btn-red"> Logout </button>
        </a>
        <% } %>
      </div>
    </header>
</body>
</html>