<!DOCTYPE html>
<html>
  <head>
    <title>UserApp</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <header class="flex">
        <div>
          <a href="/" class="brand">UserApp</a>
        </div>
        <div>
            <a href="/">
                <button class="btn-blue">Back</button>
            </a>
        </div>
      </header>
      <main>
        <div class="success">
            <h2>Successfully Logged In</h2>
        </div>
        <div>
          <a href="/users/logout">
            <button class="btn btn-red"> Logout </button>
          </a>
        </div>
      </main>
      <footer class="nav">
        <small>&copy; AltCampus</small>
    </footer>
    </div>
  </body>
</html>